<% provide(:title, 'Home') %>
<h1>Vehicle Registration Application Home Page</h1>
<div class="center hero-unit">
  <h1>Welcome to the Vehicle Registration Application Home Page</h1>
  <p>  </p>

  <%= link_to "Register now!", register_path, class: "btn btn-large btn-primary" %>
</div>